.rockstatHeader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: rem(20px 50px 27px 50px);
  background-color: rgba(0, 0, 0, 0);

  &.activeBg {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .noClick {
    opacity: 0.5;
    pointer-events: none;
  }
  .gamburger {
    display: none;
  }
  .linksMenu {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-between;

    .menuItem, .menuItemLgItem {
      margin-left: rem(16px);
      a {
        position: relative;
        display: block;
        text-transform: uppercase;
        overflow: hidden;
        color: #fff;
        text-decoration: none;
        letter-spacing: 0.04em;
        transition: color .1s linear;
        @mixin mainfont-regular 13px;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: rem(1px);
          background-color: #fff;
          transform: translateX(-105%);
          transition: transform .2s ease, background-color .1s linear;
        }
        &:hover, &.active {
          color: #00F0FF;
          &:after {
            transform: translateX(0);
            background-color: #00F0FF;
          }
        }
      }
    }
    .menuItemLg {
      margin-left: rem(20px);
      display: flex;
      justify-content: space-between;
    }
    .menuLng {
      margin-left: rem(10px);
      display: flex;
      justify-content: space-between;
    }
  }
  &.documentation {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(224, 244, 224, 0.7);
     .menu {
      .menuItemLgItem, .menuItem {
        a {
          color: #000;
          &:hover, &.active {
            color: #00F0FF;
          }
          &:after {
            display: none;
          }
        }
      }
    }
  }
  &.blog {
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(224, 244, 224, 0.7);
     .menu {
      .menuItemLgItem, .menuItem {
        /* a {
          color: #000;
          &:hover, &.active {
            color: #00F0FF;
          }
          &:after {
            display: none;
          }
        } */
      }
    }
  }
  @media(max-width: 720px) {
    flex-direction: column;
    transition: background-color .3s ease;
    padding: 0;
    position: relative;
    
    .gamburger {
      padding: rem(20px 0);
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 54px;
      margin: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      span {
        width: rem(35px);
        display: block;
        height: rem(4px);
        background-color: #fff;
        transition: transform .3s ease;
        will-change: transform;
        transform-origin: center;
      }
      &.active {
        span {
          &:nth-child(1) {
            transform: rotate(45deg) translate3d(30%, 120%, 0);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translate3d(20%, -70%, 0);
          }
        }
      }
    }
    &.activeBg {
      background-color: transparent;
      .gamburger {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
    &.documentation {
      .gamburger {
        align-items: flex-end;
        padding-right: 1rem
      }
    }
   svg {
      display: none;
    }
    .linksMenu {
      display: block;
    }
    .menu {
      padding: rem(0 50px);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;
      opacity: 0;
      z-index: -99;
      background-color: #000;
      transform: scaleY(0);
      transition: transform .5s ease, opacity .5s ease;
      position: fixed;
      top: 0;
      left: 0;
      .menuItem {
        a {
          color: #fff !important;
          &.active {
            color: #00F0FF !important;
          }
        }
      }
    }
    .menuItemLg {
      justify-content: space-between;
      margin-left: 0;
    }
    &.menuActive {
      background-color: #000;
      .menu {
        opacity: 1;
        z-index: 99;
        transform: scaleY(1);
      }
    }
  }
}
