@import '../../static/base/fonts.scss';

.rockstatHeader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: rem(31px 50px);
  background-color: rgba(0, 0, 0, 0);
  &.activeBg {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .logo {
    width: rem(111px);
    svg {
      width: 100%;
    }
  }
  .gamburger {
    display: none;
  }
  .linksMenu {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    .menuItem, .menuItemLgItem {
      margin-left: rem(10px);
      a {
        position: relative;
        display: block;
        text-transform: uppercase;
        overflow: hidden;
        color: #fff;
        text-decoration: none;
        transition: color .1s linear;
        @include raleway-medium(16px);

        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: rem(1px);
          background-color: #fff;
          transform: translateX(-105%);
          transition: transform .2s ease, background-color .1s linear;
        }
        &:hover, &.active {
          color: #00F0FF;
          &:after {
            transform: translateX(0);
            background-color: #00F0FF;
          }
        }
      }
    }
    .menuItemLg {
      margin-left: rem(20px);
      display: flex;
      justify-content: space-between;
    }
  }
  &.documentation {
    background-color: #fff;
    border-bottom: 1px solid #E0E0E0;
     .menu {
      .menuItemLgItem, .menuItem {
        a {
          color: #000;
          &:hover, &.active {
            color: #00F0FF;
          }
          &:after {
            display: none;
          }
        }
      }
    } 
  }
  @media(max-width: 720px) {
    flex-direction: column;
    padding: rem(31px 0);
    .gamburger {
      text-align: center;
      width: rem(35px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 20px;
      margin: auto;
      span {
        width: 100%;
        display: block;
        height: rem(4px);
        background-color: #fff;
        transition: transform .3s ease;
        will-change: transform;
        transform-origin: center;
      }
      &.active {
        span {
          &:nth-child(1) {
            transform: rotate(45deg) translate3d(35%, 150%, 0);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translate3d(30%, -90%, 0);
          }
        }
      }
    }
    .logo {
      display: none;
    }
    .linksMenu {
      display: block;
    }
    .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;
      opacity: 0;
      z-index: -1;
      background-color: #000;
    }
    .menuItemLg {
      justify-content: space-between;
    }
    &.menuActive {
      background-color: #000;
      .menu {
        opacity: 1;
        z-index: 999;
      }
    }
  }
}
