@import '../../../static/styles/variables.css';

.analyticContainer {
  width: 100vw;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 240, 255, 0.2) 27.54%, rgba(0, 240, 255, 0.1) 67.54%, rgba(0, 240, 255, 0) 100%);
  contain: paint;
  .textContainer {
    text-align: center;
    .title {
      @mixin mainfont-light 36px;
      text-transform: uppercase;
      line-height: rem(42px);
      padding-top: rem(80px);
    }
    .description {
      @mixin mainfont-medium 18px;
      line-height: rem(25px);
      opacity: 0.8;
      margin-top: rem(2px);
    }

  }
  .contentCenter {
    display: flex;
    justify-content: space-between;
    padding: rem(31px 50px);
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: rem(45px);
    img, svg {
      width: 8%;
    }
  }

  @media(max-width: 720px) {
    max-height: 10000px;
    min-height: auto;
    width: 100%;
    height: auto;
    padding: 0 25px;
    z-index: 9;
    .contentCenter {
      width: 100%;
      padding: rem(31px 0);
      img, svg {
        width: 10%;
      }
    }
  }
}
