
.sideBar {
    position: relative;
    z-index: 99;
    width: rem(362px);
    padding: rem(80px 47px 50px);
    color: #fff;
    background-color: #000;
    .mainItem {
      .title {
        @mixin raleway-medium 16px;
        line-height: rem(19px);
        text-transform: uppercase;
        color: #BDBDBD;
        margin: rem(28px 0px);
        display: block;
      }
      .childItem {
        @mixin raleway-medium 14px;
        line-height: rem(16px);
        color: #fff;
        margin: rem(14px 0);
        &.active {
          color: #f00;
          .childItemTreeContainer {
            display: block;
          }
        }
        span {
          color: #fff;
          opacity: 1;
          display: flex;
          align-items: center;
          svg {
            fill: #fff;
            width: rem(12px);
            height: rem(12px);
            margin-right: rem(5px);
          }
        }
        .itemTwo {
          pointer-events: auto;
          cursor: pointer;
        }
        a {
          color: #fff;
          text-decoration: none;
        }
        .childItemTreeContainer {
          display: none;
          .childItemTree {
            margin: rem(14px 0 14px 15px);
            a {
              color: #fff;
              text-decoration: none;
              &:hover, &.active {
                color: #00F0FF;
              }
            }
          }
        }
      }
    }
  }
