@import '../../static/base/fonts.scss';

.sideBar {
    position: relative;
    z-index: 99;
    width: rem(362px);
    padding: rem(200px 47px 50px);
    color: #fff;
    background-color: #000;
    .mainItem {
      @include raleway-medium(14px);
      line-height: rem(16px);
      // cursor: pointer;
      margin-bottom: rem(16px);
      &:hover {
        color: #00F0FF;
      }
    }
  }