
.documentationContainer {
  color: #000;
  display: flex;
  margin: rem(40px 0 0 0) !important;
  background-color: #fff;

  .floatLogo {
    position: absolute;
    top: -45px;
    left: 0;
    width: rem(362px);
    background-color: #000;
    z-index: 100;
    padding: rem(37px 35px 35px 50px);
    svg {
      // width: 40%;
      path {
        fill: #fff;
      }
    }
  }

  .content {
    width: 78%;
    padding: rem(40px 0 50px);
    background-color: #fff;
  }
}
