
@font-face {
  font-family: 'RalewayMedium';
  font-style: normal;
  src: url('/_next/static/fonts/Raleway-v4020-Medium.eot'); /* IE9 Compat Modes */
  src:
  //local('Magnolia Script'), local('Magnolia Script'),
  url('/static/fonts/Raleway-v4020-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/static/fonts/Raleway-v4020-Medium.woff') format('woff'), /* Modern Browsers */
  url('/static/fonts/Raleway-v4020-Medium.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'RalewayBold';
  font-style: normal;
  src: url('/static/fonts/Raleway-v4020-Bold.eot'); /* IE9 Compat Modes */
  src:
  //local('Magnolia Script'), local('Magnolia Script'),
  url('/static/fonts/Raleway-v4020-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/static/fonts/Raleway-v4020-Bold.woff') format('woff'), /* Modern Browsers */
  url('/static/fonts/Raleway-v4020-Bold.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'RalewayRegular';
  font-style: normal;
  src: url('/static/fonts/Raleway-v4020-Regular.eot'); /* IE9 Compat Modes */
  src:
  //local('Magnolia Script'), local('Magnolia Script'),
  url('/static/fonts/Raleway-v4020-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/static/fonts/Raleway-v4020-Regular.woff') format('woff'), /* Modern Browsers */
  url('/static/fonts/Raleway-v4020-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'RalewayLight';
  font-style: normal;
  src: url('/static/fonts/Raleway-v4020-Light.eot'); /* IE9 Compat Modes */
  src:
  //local('Magnolia Script'), local('Magnolia Script'),
  url('/static/fonts/Raleway-v4020-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/static/fonts/Raleway-v4020-Light.woff') format('woff'), /* Modern Browsers */
  url('/static/fonts/Raleway-v4020-Light.ttf') format('truetype') /* Safari, Android, iOS */
}

@mixin raleway-regular($size) {
  font-family: 'RalewayRegular', Arial, Helvetica, sans-serif;
  font-size: $size;
}

@mixin raleway-bold($size) {
  font-family: 'RalewayBold', Arial, Helvetica, sans-serif;
  font-size: $size;
}

@mixin raleway-medium($size) {
  font-family: 'RalewayMedium', Arial, Helvetica, sans-serif;
  font-size: $size;
}

@mixin raleway-light($size) {
  font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
  font-size: $size;
}
