$raleway-font-path: '/static/fonts/raleway/';

@font-face {
  font-family: 'Raleway Light';
  src: url('#{$raleway-font-path}Raleway-Light.eot');
  src: url('#{$raleway-font-path}Raleway-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$raleway-font-path}Raleway-Light.woff') format('woff'),
  url('#{$raleway-font-path}Raleway-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url('#{$raleway-font-path}Raleway-Regular.eot');
  src: url('#{$raleway-font-path}Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$raleway-font-path}Raleway-Regular.woff') format('woff'),
  url('#{$raleway-font-path}Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Raleway Medium';
  src: url('#{$raleway-font-path}Raleway-Medium.eot');
  src: url('#{$raleway-font-path}Raleway-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$raleway-font-path}Raleway-Medium.woff') format('woff'),
  url('#{$raleway-font-path}Raleway-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Raleway Bold';
  src: url('#{$raleway-font-path}Raleway-Bold.eot');
  src: url('#{$raleway-font-path}Raleway-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$raleway-font-path}Raleway-Bold.woff') format('woff'),
  url('#{$raleway-font-path}Raleway-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
