@import '../../static/base/fonts.scss';
@import '../../static/base/variables.scss';

.analyticContainer {
  width: 100vw;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 1), #003c40, #003c40, rgba(0, 0, 0, 1));
  contain: paint;
  .textContainer {
    text-align: center;
    .title {
      @include raleway-light(36px);
      text-transform: uppercase;
      line-height: rem(42px);
      padding-top: rem(80px);
    }
    .description {
      @include raleway-medium(18px);
      line-height: rem(25px);
      opacity: 0.8;
      margin-top: rem(2px);
    }

  }
  .contentCenter {
    display: flex;
    justify-content: space-between;
    padding: rem(31px 50px);
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: rem(45px);
    img, svg {
      width: 8%;
    }
  }

  @media(max-width: 720px) {
    max-height: 10000px;
    min-height: auto;
    width: 100%;
    height: auto;
    padding: 0 25px;
    z-index: 9;
    .contentCenter {
      width: 100%;
      padding: rem(31px 0);
      img, svg {
        width: 10%;
      }
    }
  }
}
