:global {
  html {
    font-size: 16PX;
    text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;

    @media(max-width: 1650px) {
      font-size: 14px;
    }
    @media(max-width: 1350px) {
      font-size: 12px;
    }
    @media(max-width: 1100px) {
      font-size: 10px;
    }

    @media(max-width: 900px) {
      font-size: 8px;
    }

    @media(max-width: 720px) {
      font-size: 12PX;
    }
  }

  * {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #fff;
    @media(max-width: 720px) {
      overflow-x: hidden;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: #2c2b2e;
    font-weight: 400;
  }

  h3 {
    line-height: 30px;
    font-size: 21px;
  }
}