.roundContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: scale(0);
    transform-origin: 50%;
    transition: transform 1s ease;
    will-change: transform;
  }
}

.centerOuter {
  will-change: transform;
  animation-duration: 10s;
  animation-delay: 3s;
  transform-origin: 50% 48%;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 0;
  transition: opacity 1s ease;
  transition-delay: 3s;
  &.active {
    opacity: 1;
    animation-name: OuterAnimation;
    animation-delay: 0;
    transition-delay: 0;
  }
}

.centrContainer {
  opacity: 0;
  transition: opacity .5s ease;
  transition-delay: .5s;
  will-change: opacity;
  &.active {
    opacity: 1;
  }
}

.dotsContainer {
  will-change: transform;
  animation-duration: 5s;
  animation-delay: 3s;
  transform-origin: center;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 0;
  transition: opacity 1s ease;
  transition-delay: 3s;
  &.active {
    opacity: 1;
    animation-name: DotsAnimation;
    transition-delay: 0;
    animation-delay: 0;
  }
}

@keyframes OuterAnimation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes DotsAnimation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
