@import '../../static/base/fonts.scss';
@import '../../static/base/variables.scss';

.analyticContainer {
  width: 100vw;
  height: 100vh;
  min-height: $minHeightScreen;
  max-height: $maxHeightSceen;
  position: relative;
  // background: linear-gradient(#e66465, #9198e5);
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(140, 0, 255, 1), rgba(0, 0, 0, 1));
  .textContainer {
    text-align: center;
    .title {
      @include raleway-regular(36px);
      text-transform: uppercase;
      line-height: rem(42px);
      padding-top: rem(80px);
    }
    .description {
      @include raleway-medium(18px);
      line-height: rem(25px);
    }

  }
  .contentCenter {
    display: flex;
    justify-content: space-between;
    padding: rem(31px 50px);
    .leftText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25%;
      .leftTextTop {
        text-align: center;
        .title {
          @include raleway-medium(28px);
          line-height: rem(25px);
        }
        .description {
          @include raleway-medium(16px);
          line-height: rem(25px);
          margin-top: rem(30px);
        }
      }
      .leftTextBottom {
        margin-top: rem(51px);
        text-align: center;
        .title {
          @include raleway-medium(28px);
          line-height: rem(25px);
        }
        .description {
          @include raleway-medium(16px);
          line-height: rem(25px);
          margin-top: rem(30px);
        }
      }
    }
    .centerBg {
      width: 42%;
      height: 62%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      svg {
        width: 100%;
      }
    }
    .rightText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25%;
      .rightTextTop {
        text-align: center;
        .title {
          @include raleway-medium(28px);
          line-height: rem(25px);
        }
        .description {
          @include raleway-medium(16px);
          line-height: rem(25px);
          margin-top: rem(30px);
        }
      }
      .rightTextBottom {
        margin-top: rem(51px);
        text-align: center;
        .title {
          @include raleway-medium(28px);
          line-height: rem(25px);
        }
        .description {
          @include raleway-medium(16px);
          line-height: rem(25px);
          margin-top: rem(30px);
        }
      }
    }
  }  
}
