@import '../../static/base/fonts.scss';
@import '../../static/base/variables.scss';

.analyticContainer {
  width: 100vw;
  // height: 100vh;
  // min-height: $minHeightScreen;
  // max-height: $maxHeightSceen;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 1), #1e0123, rgba(0, 0, 0, 1));
  .textContainer {
    text-align: center;
    .title {
      @include raleway-light(36px);
      text-transform: uppercase;
      line-height: rem(42px);
      padding-top: rem(80px);
    }
    .description {
      @include raleway-medium(18px);
      line-height: rem(25px);
      opacity: 0.8;
      margin-top: rem(2px);
    }

  }
  .contentCenter {
    // display: flex;
    // justify-content: space-between;
    // padding: rem(31px 50px);
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: rem(45px);
    position: relative;
    .mainBg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .textContainer {
      position: absolute;
      left: 0;
      top: 0;
      padding: rem(31px 50px);
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      div {
        position: relative;
        @include raleway-medium(16px);
        line-height: rem(19px);
        text-align: center;
        border: 1px solid #00F0FF;
        padding: rem(21px 15px);
        &:after {
          position: absolute;
          top: rem(-15px);
          left: 0;
          right: 0;
          margin: auto;
          content: '';
          width: 1px;
          height: rem(15px);
          background-color: #00F0FF;
        }
      }
      .leftText {
        &:after {
          top: 98%;
          right: 20%;
          transform: rotate(-45deg);
          transform-origin: center;
        }
      }
      .centerText {
        margin-top: rem(370px);
        margin-left: rem(25px);
        &:after {
          display: none;
        }
      }
      .rightText {
        &:after {
          top: 98%;
          left: 20%;
          transform: rotate(45deg);
          transform-origin: center;
        }
      }
    }
    .bottomText {
      @include raleway-medium(16px);
      line-height: rem(19px);
      margin-top: rem(68px);
      margin-bottom: rem(68px);
      text-align: center;
      span {
        border: 1px solid #00F0FF;
        padding: rem(21px 15px);
        position: relative;
        &:after {
          position: absolute;
          top: rem(-15px);
          left: 0;
          right: 0;
          margin: auto;
          content: '';
          width: 1px;
          height: rem(15px);
          background-color: #00F0FF;
        }
      }
    }
  }  
}
