@import '../../static/base/fonts.scss';
@import '../../static/base/variables.scss';

.analyticContainer {
  width: 100vw;
  // height: 100vh;
  // min-height: $minHeightScreen;
  // max-height: $maxHeightSceen;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 1), #1e0123, rgba(0, 0, 0, 1));
  contain: paint;
  .textContainer {
    text-align: center;
    .title {
      @include raleway-light(36px);
      text-transform: uppercase;
      line-height: rem(42px);
      padding-top: rem(80px);
    }
    .description {
      @include raleway-medium(18px);
      line-height: rem(25px);
      opacity: 0.8;
      margin-top: rem(2px);
    }

  }
  .contentCenterMobile {
    display: none;
  }
  .contentCenter {
    margin-top: rem(100px);
    position: relative;
    height: 70vw;
    .bgChart {
      position: absolute;
      width: 100%;
      left: 0;
      top: 13%;
    }
    .toolTips {
      position: absolute;
      width: 77.4%;
      left: 0.7%;
      right: 0;
      margin: auto;
      top: 0;
      .textContainer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        .title {
          @include raleway-light(36px);
          text-transform: uppercase;
          line-height: rem(42px);
          padding-top: rem(80px);
        }
        .description {
          @include raleway-medium(18px);
          line-height: rem(25px);
          opacity: 0.8;
          margin-top: rem(2px);
        }

        .leftText {
          position: absolute;
          left: 5.6%;
          top: 2.4%;
        }
        .centerText {
          position: absolute;
          top: 40%;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
        .rightText {
          position: absolute;
          right: 4.6%;
          top: 2.4%;
        }
        .bottomText {
          position: absolute;
          bottom: 2.4%;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
    .pies {
      position: absolute;
      position: absolute;
      width: 85%;
      left: 0;
      right: 0;
      margin: auto;
      top: 7%;
    }

    .infoContainer {
      position: absolute;
      width: 90%;
      left: 0;
      top: 45%;
      margin: auto;
      right: 0;
      display: flex;
      justify-content: space-between;
      .item {
        width: 14%;
        &:nth-child(1) {
          margin-top: 5%;
        }
        &:nth-child(2) {
          
        }
        &:nth-child(3) {
          margin-top: 8%;
        }
        &:nth-child(4) {
          
        }
        &:nth-child(5) {
          margin-top: 5%;
        }
        svg {
          width: 100%;
        }
      }
    }

    .contentCircle {
      position: absolute;
      left: 0;
      top: 10%;
      display: flex;
      justify-content: space-around;
      width: 100%;
      .first, .two, .tree, .fore, .five, .six {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 18%;
        padding: 1% 1.4%;
        .item {
          @include raleway-regular(14px);
          line-height: rem(16px);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: rem(20px);
          .text {
            color: #bdbdbd;
          }
          .prec {
            color: #fff;
          }
        }
      }
      .first {
        margin-top: 6.6vw;
        padding-left: 7%;
      }
      .two {
        margin-top: 1vw;
        padding-left: 7.3%;
        .item {
          margin-bottom: rem(8px);
        }
      }
      .tree {
        margin-top: 2.3vw;
        padding-left: 8%;
      }
      .fore {
        margin-top: 1.5vw;
        padding-left: 8%;
        .item {
          margin-bottom: rem(20px);
        }
      }
      .six {
        margin-top: 7vw;
        padding-left: 8%;
        .text, .prec {
          white-space: nowrap;
        }
      }
    }
  }
  
  @media(max-width: 720px) {
    max-height: 10000px;
    min-height: auto;
    width: 100%;
    height: auto;

    .textContainer {
      padding: 0 25px;
    }

    .contentCenter {
      display: none;
    }

    .contentCenterMobile {
      display: block;
      text-align: center;
      img {
        width: 80%;
        padding: 0 25px;
        margin: rem(30px 0);
      }
      .text {
        @include raleway-medium(16px);
        line-height: rem(19px);
        padding: 0 25px;
      }

      .graphContainer {
        position: relative;
        img {
          width: 100%;
          padding: 0;
        }
        .text {
          position: absolute;
          top: 30%;
          left: 0;
          right: 0;
          height: 20px;
          margin: auto;
        }
      }
    }
  }
}
