@import '../../../static/styles/variables.css';

.analyticContainer {
  width: 100vw;
  height: 100vh;
  min-height: $minHeightScreen;
  max-height: $maxHeightSceen;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 1), #003c40, #003c40, rgba(0, 0, 0, 1));
  contain: paint;
  .textContainer {
    text-align: center;
    .title {
      @mixin raleway-light 36px;
      text-transform: uppercase;
      line-height: rem(42px);
      padding-top: rem(80px);
    }
    .description {
      @mixin raleway-regular 18px;
      line-height: rem(25px);
      opacity: 0.8;
      margin-top: rem(2px);
    }
  }

  .leftBgTop {
    position: absolute;
    left: 0;
    top: 20%;
    bottom: 0;
    width: 15%;
    height: 20%;
    svg {
      width: 100%;
    }
  }

  .leftBgBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15%;
    height: 20%;
    svg {
      /* transform: rotateX(180deg); */
      /* transform-origin: center; */
      width: 100%;
    }
  }

  .rightBgTop {
    position: absolute;
    right: 0;
    top: 20%;
    bottom: 0;
    width: 15%;
    height: 20%;
    svg {
      /* transform: rotateY(180deg); */
      /* transform-origin: center; */
      width: 100%;
    }
  }

  .rightBgBottom {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15%;
    height: 20%;
    svg {
      /* transform: rotateY(180deg) rotateX(180deg); */
      /* transform-origin: center; */
      width: 100%;
    }
  }
  .contentCenter {
    display: flex;
    justify-content: space-between;
    padding: rem(31px 50px);
    z-index: 999;
    height: 81%;
    .leftText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 22%;
      .leftTextTop {
        text-align: center;
        .title {
          @mixin raleway-regular 28px;
          line-height: rem(25px);
        }
        .description {
          @mixin raleway-regular 16px;
          line-height: rem(25px);
          margin-top: rem(10px);
        }
      }
      .leftTextBottom {
        margin-top: rem(65px);
        text-align: center;
        .title {
          @mixin raleway-regular 28px;
          line-height: rem(25px);
        }
        .description {
          @mixin raleway-regular 16px;
          line-height: rem(25px);
          margin-top: rem(10px);
        }
      }
    }
    .centerBg {
      width: 42%;
      height: 86%;
      margin: auto;
      position: relative;
      svg, img {
        width: 100%;
      }

      .dots {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 27vw;
        height: 28vw;
      }
      .rounds {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 27vw;
        height: 28vw;
      }
      .center {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0.5%;
        margin: auto;
        width: 15vw;
        height: 15vw;
      }

      .outer {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 39vw;
        height: 38vw;
        svg {
          width: 100%;
        }
      }

      .repositoryCriclesMain {
        position: absolute;
        height: 90%;
        width: 90%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
      .repositoryContur {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .rightText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 22%;
      .rightTextTop {
        text-align: center;
        .title {
          @mixin raleway-regular 28px;
          line-height: rem(25px);
        }
        .description {
          @mixin raleway-regular 16px;
          line-height: rem(25px);
          margin-top: rem(10px);
        }
      }
      .rightTextBottom {
        margin-top: rem(65px);
        text-align: center;
        .title {
          @mixin raleway-regular 28px;
          line-height: rem(25px);
        }
        .description {
          @mixin raleway-regular 16px;
          line-height: rem(25px);
          margin-top: rem(10px);
        }
      }
    }
  }

  @media(max-width: 720px) {
    max-height: 10000px;
    min-height: auto;
    width: 100%;
    height: auto;
    padding: 0 25px;

    .leftBg {
      position: absolute;
      left: 0;
      top: 140vw;
      bottom: 0;
      margin: auto;
      width: 100%;
    }
    .RightBg {
      display: none;
    }

    .contentCenter {
      flex-direction: column;
      margin-top: 105vw;
      .leftText {
        width: 100%;
      }
      .rightText {
        width: 100%;
        margin-top: rem(30px);
      }
      .centerBg {
        position: absolute;
        top: 50vw;
        width: 100%;
        height: auto;
        left: 0;
        .outer {
          width: 100%;
          height: auto;
          top: 8vw;
        }
        .dots {
          width: 68%;
          height: auto;
          top: 22vw;
        }
        .rounds {
          width: 65%;
          height: auto;
          top: 22vw;
        }
        .center {
          width: 36%;
          height: auto;
          top: 36.4vw;
        }
      }
    }

    .leftBgTop {
      left: -14%;
      top: 180vw;
      bottom: 0;
      width: 50%;
      opacity: 0.5;
    }

    .leftBgBottom {
      z-index: 0;
      display: none;
    }

    .rightBgTop {
      right: -14%;
      top: 180vw;
      bottom: 0;
      width: 50%;
      opacity: 0.5;
    }

    .rightBgBottom {
      display: none;
    }
  }
}
