@import '../../static/base/fonts.scss';
@import '../../static/base/variables.scss';

.analyticContainer {
  width: 100vw;
  height: 100vh;
  min-height: $minHeightScreen;
  max-height: $maxHeightSceen;
  position: relative;
  background: linear-gradient(#000, #1b361b, #000); 
  .textContainer {
    text-align: center;
    .title {
      @include raleway-light(36px);
      text-transform: uppercase;
      line-height: rem(42px);
      padding-top: rem(80px);
    }
    .description {
      @include raleway-medium(18px);
      line-height: rem(25px);
      opacity: 0.8;
      margin-top: rem(2px);
    }

  }

  .backgroundIMG {
    background-image: url('/_next/static/images/solutionBg.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .contentCenter {
    display: flex;
    justify-content: space-around;
    padding: rem(31px 50px);
    height: 81%;
    .leftText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25%;
      .leftTextTop {
        text-align: center;
        .title {
          @include raleway-regular(28px);
          line-height: rem(25px);
        }
        .description {
          @include raleway-regular(16px);
          line-height: rem(25px);
          margin-top: rem(30px);
        }
      }
      .leftTextBottom {
        margin-top: rem(51px);
        text-align: center;
        .title {
          @include raleway-regular(28px);
          line-height: rem(25px);
        }
        .description {
          @include raleway-regular(16px);
          line-height: rem(25px);
          margin-top: rem(30px);
        }
      }
    }
    .centerBg {
      width: 42%;
      height: 86%;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 9%;
      
      svg, img {
        width: 100%;
      }
      .repositoryCriclesMain {
        position: absolute;
        height: 90%;
        width: 90%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        @media(min-width: 1467px) {
          height: 100%;
        }
      }
      .repositoryContur {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .rightText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25%;
      .rightTextTop {
        text-align: center;
        .title {
          @include raleway-regular(28px);
          line-height: rem(25px);
        }
        .description {
          @include raleway-regular(16px);
          line-height: rem(25px);
          margin-top: rem(30px);
        }
      }
      .rightTextBottom {
        margin-top: rem(51px);
        text-align: center;
        .title {
          @include raleway-regular(28px);
          line-height: rem(25px);
        }
        .description {
          @include raleway-regular(16px);
          line-height: rem(25px);
          margin-top: rem(30px);
        }
      }
    }
  }  
}
