@import '../../../static/styles/variables.css';

.analyticContainer {
  width: 100vw;
  /*height: 100vh;
  // min-height: $minHeightScreen;
  // max-height: $maxHeightSceen; */
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 1), #1e0123, rgba(0, 0, 0, 1));
  contain: paint;
  .textContainer {
    text-align: center;
    .title {
      @mixin raleway-light 36px;
      text-transform: uppercase;
      line-height: rem(42px);
      padding-top: rem(80px);
    }
    .description {
      @mixin raleway-medium 18px;
      line-height: rem(25px);
      opacity: 0.8;
      margin-top: rem(2px);
    }

  }
  .contentCenterMobile {
    display: none;
  }
  .contentCenter {
    margin-top: rem(100px);
    position: relative;
    height: 70vw;
    .bgChart {
      position: absolute;
      width: 100%;
      left: 0;
      top: 13%;
    }
    .toolTips {
      position: absolute;
      width: 77.4%;
      left: 0.7%;
      right: 0;
      margin: auto;
      top: 0;
      .textContainer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        .title {
          @mixin raleway-light 36px;
          text-transform: uppercase;
          line-height: rem(42px);
          padding-top: rem(80px);
        }
        .description {
          @mixin raleway-medium 18px;
          line-height: rem(25px);
          opacity: 0.8;
          margin-top: rem(2px);
        }

        .leftText {
          position: absolute;
          left: 3.6%;
          top: 2.4%;
          @mixin raleway-medium 16px;
          line-height: rem(19px);
        }
        .centerText {
          position: absolute;
          top: 39.7%;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          @mixin raleway-medium 16px;
          line-height: rem(19px);
        }
        .rightText {
          position: absolute;
          right: 2.6%;
          top: 2.4%;
          @mixin raleway-medium 16px;
          line-height: rem(19px);
        }
        .bottomText {
          position: absolute;
          bottom: 2.8%;
          left: 0;
          right: 0;
          margin: auto;
          @mixin raleway-medium 16px;
          line-height: rem(19px);
        }
      }
    }
    .pies {
      position: absolute;
      position: absolute;
      width: 85%;
      left: 0;
      right: 0;
      margin: auto;
      top: 7%;
    }

    .infoContainer {
      position: absolute;
      width: 90%;
      left: 0;
      top: 45%;
      margin: auto;
      right: 0;
      display: flex;
      justify-content: space-between;
      .item {
        width: 14%;
        &:nth-child(1) {
          margin-top: 5%;
        }
        &:nth-child(2) {

        }
        &:nth-child(3) {
          margin-top: 8%;
        }
        &:nth-child(4) {

        }
        &:nth-child(5) {
          margin-top: 5%;
        }
        svg {
          width: 100%;
        }
      }
    }

    .contentCircle {
      position: absolute;
      left: 0;
      top: 10%;
      display: flex;
      justify-content: space-around;
      width: 100%;
      .first, .two, .tree, .fore, .five, .six {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 18%;
        padding: 1% 1.4%;
        .item {
          @mixin raleway-regular 12px;
          line-height: rem(14px);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: rem(20px);
          .text {
            color: #bdbdbd;
          }
          .prec {
            color: #fff;
          }
        }
      }
      .first {
        margin-top: 6.6vw;
        padding-left: 7%;
      }
      .two {
        margin-top: 1vw;
        padding-left: 7.3%;
        .item {
          margin-bottom: rem(8px);
        }
      }
      .tree {
        margin-top: 2.3vw;
        padding-left: 8%;
      }
      .fore {
        margin-top: 1.5vw;
        padding-left: 8%;
        .item {
          margin-bottom: rem(16px);
        }
      }
      .six {
        margin-top: 7vw;
        padding-left: 8%;
        .text, .prec {
          white-space: nowrap;
        }
      }
    }
  }

  @media(max-width: 720px) {
    max-height: 10000px;
    min-height: auto;
    width: 100%;
    height: auto;

    .textContainer {
      padding: 0 25px;
    }

    .contentCenter {
      display: none;
    }

    .contentCenterMobile {
      display: block;
      text-align: center;
      .circleContainer {
        position: relative;
        svg {
          width: 100%;
          padding: 0 25px;
          margin: rem(30px 0);
        }
        .textContainer {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: flex-start;
          .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 18vw;
            margin-top: 19vw;
            .item {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-start;
              span {
                white-space: nowrap;
                display: block;
                @mixin raleway-medium 16px;
                line-height: rem(16px);
              }
              &:last-child {
                margin-top: 1vw;
              }
            }
          }
          .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 22vw;
            margin-top: 46vw;
            .item {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-start;
              span {
                white-space: nowrap;
                display: block;
                @mixin raleway-medium 16px;
                line-height: rem(16px);
              }
              &:last-child {
                margin-top: 3vw;
              }
            }
          }
        }
      }

      .parameterContainer {
        position: relative;
        svg {
          width: 80%;
          padding: 0 25px;
          margin: rem(30px 0);
        }
        .textContainer {
          position: absolute;
          top: 0;
          bottom: 3%;
          right: 0;
          left: 0;
          height: 58%;
          margin: auto;
          width: 20%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: flex-start;
          .item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            span {
              white-space: nowrap;
              display: block;
              @mixin raleway-medium 16px;
              line-height: rem(16px);
            }
          }
        }
      }

      .text {
        @mixin raleway-medium 16px;
        line-height: rem(19px);
        padding: 0 25px;
      }

      .graphContainer {
        position: relative;
        svg {
          width: 340vw;
          padding: 0;
          margin-left: -240vw;
        }
        .text {
          position: absolute;
          top: 75%;
          left: 0;
          right: 0;
          height: 20px;
          margin: auto;
        }
      }
      .containerParams {
        position: relative;
        height: 100vw;
        svg {
          width: 100%;
        }
        .right {
          position: absolute;
          right: 10%;
          top: 0;
          width: 50%;
          height: 50vw;
          z-index: 0;
        }
        .left {
          position: absolute;
          left: 10%;
          top: 30vw;
          width: 50%;
          height: 50vw;
          z-index: 1;
        }
      }
    }
  }
}
