@import '../../static/base/fonts.scss';

.rockstatFooter {
  padding: rem(79px 50px 53px);
  background-color: #131313;
  .top {
    display: flex;
    padding: rem(0 0 59px);
    .logo {
      width: rem(111px);
      svg {
        width: 100%;
      }

      span {
        @include raleway-medium(12px);
        color: #828282;
      }
    }
    .menu {
      display: flex;
      flex-wrap: wrap;
      margin-left: rem(229px);
      width: 34%;
      .item {
        margin-left: rem(50px);
        overflow: hidden;
        .itemMain {
          @include raleway-bold(14px);
        }
        a {
          color: #fff;
          text-decoration: none;
          @include raleway-medium(14px);
          position: relative;
          transition: color .1s linear;
  
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: rem(1px);
            background-color: #fff;
            transform: translateX(-105%);
            transition: transform .2s ease, background-color .1s linear;
          }
          &:hover, &.active-menu {
            color: #00F0FF;
            &:after {
              transform: translateX(0);
              background-color: #00F0FF;
            }
          }
        }
        .itemChildren {
          .children {
            a {
              position: relative;
              transition: color .1s linear;
  
              &.notActive {
                opacity: 0.5;
                pointer-events: none;
              }
            }
          }
        }
      }
    }
    .menuRight {
      .item {
        margin-left: rem(50px);
        overflow: hidden;
        a {
          color: #fff;
          text-decoration: none;
          @include raleway-bold(14px);
          position: relative;
          transition: color .1s linear;
  
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: rem(1px);
            background-color: #fff;
            transform: translateX(-105%);
            transition: transform .2s ease, background-color .1s linear;
          }
          &:hover, &.active-menu {
            color: #00F0FF;
            &:after {
              transform: translateX(0);
              background-color: #00F0FF;
            }
          }
        }
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    span {
      @include raleway-regular(11px);
      color: #BDBDBD;
    }
  }
}
