@import '../../static/base/fonts.scss';

.rockstatFooter {
  // margin-top: 50vh;
  padding: rem(79px 50px 53px);
  background-color: #131313;
  .top {
    display: flex;
    padding: rem(0 0 59px);
    .logo {
      width: rem(111px);
      svg {
        width: 100%;
      }

      span {
        @include font-Raleway(12px, 500);
        color: #828282;
      }
    }
    .menu {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: rem(100px);
      margin-left: rem(229px);
      .item {
        margin-left: rem(50px);
        overflow: hidden;
        a {
          color: #fff;
          text-decoration: none;
          @include font-Raleway(14px, 500);
          position: relative;
          transition: color .1s linear;
  
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: rem(1px);
            background-color: #fff;
            transform: translateX(-105%);
            transition: transform .2s ease, background-color .1s linear;
          }
          &:hover, &.active-menu {
            color: #00F0FF;
            &:after {
              transform: translateX(0);
              background-color: #00F0FF;
            }
          }
        }
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    span {
      @include font-Raleway(11px, 300);
      color: #BDBDBD;
    }
  }
}
