@import '../../../static/styles/variables.css';

.everythingContainer {
  width: 100vw;
  height: 100vh;
  min-height: 50vw;
  max-height: 150vw;
  position: relative;
  background-color: #000;
  /* // contain: paint; */
  .textContainer {
    width: 30vw;
    height: 18vw;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 5%;
    margin: auto;
    text-align: center;
    .title {
      @mixin mainfont-light 36px;
      /* // filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5)); */
      text-shadow: 0px 0px 9px white;
      text-transform: uppercase;
      line-height: rem(49px);
    }
    .text {
      @mixin mainfont-light 18px;
      opacity: 0.8;
      line-height: rem(32px);
      width: 80%;
      margin: rem(15px) auto 5% auto;
      span {
        display: block;
        white-space: nowrap;
      }
    }
  }

  .bgContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .logoMobile {
      display: none;
    }
    .centerBg, .circleTransparentBg, .circleBlurBg, .circleGreenBg {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      svg {
        width: 100%;
        path {
          transition: fill 1s ease, transform 1s ease;
          will-change: stroke-dasharray, stroke-dashoffset, fill, transform;
        }
        g {
          transition: transform .1s linear;
          will-change: transform;
        }
      }
    }

    .centerBg {
      width: 47%;
      height: 45vw;
      visibility: hidden;
      z-index: 99;
      &.fillNone {
        svg {
          path {
            fill: transparent;
          }
        }
      }
      &.mounted {
        visibility: visible;
      }
    }
    .circleTransparentBg {
      width: 60%;
      height: 53vw;
    }
    .circleBlurBg {
      width: 90%;
      height: 80vw;
    }
    .circleGreenBg {
      width: 61%;
      height: 50vw;
    }
  }
  .bottomMenuContainer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: rem(35px 50px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .demoContainer {
      .btn {
        padding: rem(10px, 25px);
        border: 1px solid #00F0FF;
        border-radius: 10px;
        @mixin mainfont-medium 14px;
        text-transform: uppercase;
        text-align: center;
        transition: opacity .3s ease;
        will-change: opacity;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
      .description {
        @mixin mainfont-medium 12px;
        text-align: right;
        margin-top: rem(17px);
      }
      &.top {
        opacity: 0;
      }
    }

    .socialMenu {
      display: flex;
      @mixin mainfont-regular 13px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      transition: transform .3s ease;
      will-change: transform;
      .item {
        position: relative;
        margin-right: rem(20px);
        a {
          color: #fff;
          text-decoration: none;
          position: relative;
          overflow: hidden;
          display: block;

          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: rem(1px);
            background-color: #fff;
            transform: translateX(-105%);
            transition: transform .2s ease, background-color .1s linear;
          }
          &:hover, &.active-menu {
            color: #00F0FF;
            &:after {
              transform: translateX(0);
              background-color: #00F0FF;
            }
          }
        }
        &:after {
          position: absolute;
          right: rem(-10px);
          top: 0;
          content: '|';
          color: #00F0FF;
          @mixin mainfont-bold 14px;
          width: rem(2px);
          height: rem(14px);
        }
        &.lastItem {
          &:after {
            display: none;
          }
        }
      }

      &.top {
        position: fixed;
        top: 0.6vw;
        left: 0;
        /* z-index: 11; */
        padding: rem(20px 50px 27px 50px);
        transform: translateX(45%);
        z-index: 99;
      }
    }
    
  }
  @media(max-width: 720px) {
    max-height: 10000px;
    min-height: auto;
    width: 100%;
    height: auto;
    padding: 0 25px;
    z-index: 9;
    .bgContainer {
      position: relative;
      .logoMobile {
        display: block;
        position: absolute;
        top: 48vw;
        left: 0;
        right: 0;
        width: 40vw;
        margin: auto;
        svg {
          width: 100%;
        }
      }
      .centerBg {
        width: 100%;
        height: auto;
        padding-top: 15%;
        margin-bottom: 15%;
        position: relative;
      }
    }
    .textContainer {
      bottom: 0;
      top: 110vw;
      width: 100%;
      height: auto;
      padding: 0 25px;
    }
    .bottomMenuContainer {
      width: 100%;
      height: auto;
      position: relative;
      margin-top: 25%;
      .socialMenu {
        display: none;
      }
      .demoContainer {
        margin-top: 10vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .description {
          text-align: center;
        }
        .btn {
          display: none;
        }
      }
    }
  }
}
