@import '../../../static/styles/variables.css';

.analyticContainer {
  width: 100vw;
  height: 100vh;
  min-height: $minHeightScreen;
  max-height: $maxHeightSceen;
  position: relative;
  background-color: #000;
  background-repeat: no-repeat;
  contain: paint;
  .bacgroundM {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(63, 255, 192, 0), rgba(63, 255, 192, 0.38), rgba(0, 240, 255, 0));
    display: flex;
    justify-content: space-between;

    .left {
      width: 48%;
      svg {
        width: 100%;
        g {
          opacity: 0.2;
        }
      }
    }
    .right {
      width: 48%;
      svg {
        width: 100%;
        transform: rotateY(180deg);
        transform-origin: center;
        g {
          opacity: 0.2;
        }
      }
    }
  }
  .bottomGradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  }
  .textContainer {
    text-align: center;
    .title {
      @mixin raleway-light 36px;
      text-transform: uppercase;
      line-height: rem(42px);
      padding-top: rem(80px);
    }
    .description {
      @mixin raleway-regular 18px;
      line-height: rem(25px);
      opacity: 0.8;
      margin-top: rem(2px);
      margin-left: auto;
      margin-right: auto;
      width: 44%;
    }

  }

  .mobileCenter {
    display: none;
    img, svg {
      width: 100%;
    }
  }

  .leftBg {
    position: absolute;
    left: 0%;
    top: 0;
    width: 25vw;
    height: 25vw;
    svg, img {
      width: 100%;
    }
  }

  .RightBg {
    position: absolute;
    right: 0;
    top: 0;
    width: 25vw;
    height: 25vw;
    svg, img {
      width: 100%;
      transform: rotateY(180deg);
      transform-origin: center;
    }
  }
  .contentCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(31px 50px);
    position: relative;
    .leftText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      .leftTextTop {
        text-align: center;
        margin-top: rem(25px);
        .title {
          @mixin raleway-light 28px;
          line-height: rem(25px);
        }
        .description {
          @mixin raleway-regular 16px;
          line-height: rem(25px);
          margin-top: rem(10px);
        }
      }
      .leftTextBottom {
        text-align: center;
        margin-top: rem(25px);
        .title {
          @mixin raleway-light 28px;
          line-height: rem(25px);
        }
        .description {
          @mixin raleway-regular 16px;
          line-height: rem(25px);
          margin-top: rem(10px);
        }
      }
    }
    .rightText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      .rightTextTop {
        text-align: center;
        margin-top: rem(25px);
        .title {
          @mixin raleway-light 28px;
          line-height: rem(25px);
        }
        .description {
          @mixin raleway-regular 16px;
          line-height: rem(25px);
          margin-top: rem(10px);
        }
      }
      .rightTextBottom {
        text-align: center;
        margin-top: rem(25px);
        .title {
          @mixin raleway-light 28px;
          line-height: rem(25px);
        }
        .description {
          @mixin raleway-regular 16px;
          line-height: rem(25px);
          margin-top: rem(10px);
        }
      }
    }
  }
  @media(max-width: 720px) {
    max-height: 10000px;
    min-height: auto;
    width: 100%;
    height: auto;
    background-color: #000;
    background: linear-gradient(rgba(63, 255, 192, 0), rgba(63, 255, 192, 0.38), rgba(0, 240, 255, 0));
    .bottomGradient, .bacgroundM {
      display: none;
    }
    .textContainer {
      padding: 0 25px;
    }
    .mobileCenter {
      display: block;
      position: absolute;
      left: 0;
      margin: auto;
      right: 0;
      top: 18%;
      width: 40%;
    }
    .leftBg {
      width: 50%;
      top: 23%;
    }
    .RightBg {
      width: 50%;
      top: 23%;
    }

    .contentCenter {
      flex-direction: column;
      padding: 0 25px;
      width: 100%;
      margin-top: 125%;
      // margin-top: 105vw;
      .leftText {
        width: 100%;
      }
      .rightText {
        width: 100%;
        margin-top: rem(30px);
      }
    }
  }
}
