@import '../../../static/styles/variables.css';

.analyticContainer {
  width: 100vw;
  height: 100vh;
  min-height: 60vw;
  max-height: 60vw;
  position: relative;
  background: linear-gradient(#000, #1b361b, #000);
  .textContainer {
    text-align: center;
    .title {
      @mixin raleway-light 36px;
      text-transform: uppercase;
      line-height: rem(42px);
      padding-top: rem(80px);
    }
    .description {
      @mixin raleway-medium 18px;
      line-height: rem(25px);
      opacity: 0.8;
      margin-top: rem(2px);
    }

  }

  .vector {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    svg {
      width: 100%;
    }
    .cube {
      width: 49vw;
      height: 59vw;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .v {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
    }
  }

  .contentCenter {
    display: flex;
    justify-content: space-around;
    padding: rem(31px 50px);
    height: 81%;
    .leftText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25%;
      .leftTextTop {
        text-align: center;
        .title {
          @mixin raleway-regular 28px;
          line-height: rem(25px);
        }
        .description {
          @mixin raleway-regular 16px;
          line-height: rem(25px);
          margin-top: rem(10px);
        }
      }
      .leftTextBottom {
        margin-top: rem(65px);
        text-align: center;
        .title {
          @mixin raleway-regular 28px;
          line-height: rem(25px);
        }
        .description {
          @mixin raleway-regular 16px;
          line-height: rem(25px);
          margin-top: rem(10px);
        }
      }
    }
    .centerBg {
      width: 42%;
      height: 86%;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 9%;

      svg, img {
        width: 100%;
      }
      .repositoryCriclesMain {
        position: absolute;
        height: 90%;
        width: 90%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        @media(min-width: 1467px) {
          height: 100%;
        }
      }
      .repositoryContur {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .rightText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25%;
      .rightTextTop {
        text-align: center;
        .title {
          @mixin raleway-regular 28px;
          line-height: rem(25px);
        }
        .description {
          @mixin raleway-regular 16px;
          line-height: rem(25px);
          margin-top: rem(10px);
        }
      }
      .rightTextBottom {
        margin-top: rem(65px);
        text-align: center;
        .title {
          @mixin raleway-regular 28px;
          line-height: rem(25px);
        }
        .description {
          @mixin raleway-regular 16px;
          line-height: rem(25px);
          margin-top: rem(10px);
        }
      }
    }
  }

  @media(max-width: 720px) {
    max-height: 10000px;
    min-height: auto;
    width: 100%;
    height: auto;

    .vector {
      .cube {
        width: 80vw;
        height: 100vw;
        position: absolute;
        left: 0;
        right: 0;
        top: 60%;
        bottom: 100%;
        margin: auto;
      }
      .v {
        width: 200%;
        height: 100%;
        top: 10%;
        left: -50%;
        z-index: 5;
      }
    }

    .backgroundIMG {
      position: relative;
      height: 70vw;
      background-size: contain;
    }

    .contentCenter {
      flex-direction: column;
      padding: 0 25px;
      width: 100%;
      margin-top: 100%;
      .leftText {
        width: 100%;
      }
      .rightText {
        width: 100%;
        margin-top: rem(30px);
      }
    }
  }
}
