@import '../../static/base/fonts.scss';

.documentationContainer {
  color: #000;
  display: flex;

  .logo {
    position: absolute;
    top: rem(31px);
    left: rem(47px);
    width: rem(111px);
    z-index: 100;
    svg {
      width: 100%;
    }
  }

  
  .content {
    width: 75%;
    padding: rem(200px 47px 50px);
    
  }
}