@import '../../../static/styles/variables.css';


.analyticContainer {

  width: 100vw;
  position: relative;
  padding: rem(31px 0px);
  background: linear-gradient(rgba(0, 0, 0, 1), #003c40, rgba(0, 0, 0, 1));
  contain: paint;

  .partnersContainer {
    overflow: hidden;
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      transition: transform .1s linear;
      will-change: transform;
      padding: rem(31px 50px);
      .item {
        display: block;
        width: 9%;
        object-fit: contain;
        margin-right: 1%;
        margin-left: 1%;
        svg, img {
          width: 100%;
        }
      }
    }
    margin: rem(53px 0 65px);
  }
  hr {
    color: rgba(255, 255, 255, 0.1);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    width: calc(100% - 72px);
  }
  .reviewsContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: rem(0px 50px);
    margin: rem(80px auto 92px);
    width: 88%;
    .item {
      width: 45%;
      .title {
        color: #F2F2F2;
        @mixin mainfont-regular 18px;
        line-height: rem(27px);
      }
      .text {
        margin-top: 10px;
        color: #BDBDBD;
        @mixin mainfont-regular 16px;
        line-height: rem(24px);
      }
    }
  }

  .btn {
    text-align: center;
    margin-bottom: rem(29px);
    a {
      padding: rem(20px 82px);
      text-transform: capitalize;
      // border: 1px solid #fff;
      border-radius: 80px;
      color: #fff;
      text-decoration: none;
      position: relative;
      svg {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
      }
    }
  }

  /*// .textContainer {
  //   text-align: center;
  //   .title {
  //     @mixin mainfont-light 36px;
  //     text-transform: uppercase;
  //     line-height: rem(42px);
  //     padding-top: rem(80px);
  //   }
  //   .description {
  //     @mixin mainfont-medium 18px;
  //     line-height: rem(25px);
  //     opacity: 0.8;
  //     margin-top: rem(2px);
  //   }

  // }
  // .contentCenter {
  //   display: flex;
  //   justify-content: space-between;
  //   padding: rem(31px 50px);
  //   align-items: center;
  //   width: 50%;
  //   margin: auto;
  //   margin-top: rem(45px);
  //   img {
  //     width: 8%;
  //   }
  // }

  @media(max-width: 720px) {
    max-height: 10000px;
    min-height: auto;
    width: 100%;
    height: auto;
    background: #000;

    hr {
      display: none;
    }
    .textContainer {
      padding: 0 25px;
    }

    .partnersContainer {
      .wrapper {
        flex-wrap: wrap;
        padding: 0 25px;
        .item {
          width: 35%;
          margin: 10px 0;
        }
      }
    }
    .reviewsContainer {
      flex-direction: column;
      padding: 0;
      .item {
        margin: 25px 0;
        width: 100%;
      }
    }
  }*/
}

